.hover_effect:hover {
  color: #18a4e0;
}

.content {
  margin-bottom: 2.5rem;
  background: #eff2f4;
}
.content h3 {
  font-size: 1.8rem;
}
.tech_icons i {
  font-size: 3rem;
}

.tech_icons span {
  font-size: 1rem;
}
.goal_text {
  padding: 1.5em 0;
}
@media (max-width: 450px) {
  .tech_icons i {
    font-size: 4.5rem;
  }

  .tech_icons span {
    font-size: 1.3rem;
  }

  .goal_text {
    font-size: 1.4rem;
  }
}
