@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  font-family: "Roboto", sans-serif;
}

.blog-entry {
  border-style: solid;
  border-color: #d4d4d4;
  border-radius: 0.5rem;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  margin-bottom: 2rem;
  width: 100%;
}
.blog-entry a {
  color: #18a4e0;
}
.blog-entry a:hover {
  color: #0253b3;
}

.blogPost {
  margin: 10vh 0;
}
.blogPost h1 {
  padding-top: 15px;
}
.blogPost h3 {
  padding: 0.8rem 0;
}

.linkButton {
  /* border-style: solid; */
  background: #18a4e0;
  padding: 10px;
  border-radius: 1rem;
  margin-bottom: 3px;
  color: #fff;
}

.linkButton:hover {
  background: #0253b3;
}
